.middleOfProject {
  background: black;
  width: 1920px;
  height: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-2 {
  margin-right: auto;
  width: 880px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
  padding: 95px 80px;
}

.block-2 p {
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding-left: 180px;
}

.block-2 p::after {
  content: "";
  border: 1px solid white;
  position: absolute;
  -webkit-transform: translate(-180px, 90px);
          transform: translate(-180px, 90px);
  width: 120px;
  -webkit-transform: rotate(90deg, 20deg);
          transform: rotate(90deg, 20deg);
}

.block-2 .watches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
  gap: 50px;
}

.block-2 .watches .watches-into {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-2 .watches .watches-into .watch {
  padding: 55px 25px;
  background-color: #191B1C;
  margin-bottom: 25px;
}

.block-2 .watches .watches-into li {
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.block-2 .watches .watches-into li:last-child {
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
  margin-top: 10px;
}

.block-3 {
  width: 880px;
  height: 730px;
  background: url("/img/Rectangle4.jpg"), #000000;
}

.block-3 ul li {
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 484px;
}

.block-3 ul li:last-child {
  font-family: PTSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 60px;
  padding: 12px 28px;
  border: 1px solid #FFFFFF;
  width: 142px;
  margin-left: auto;
  margin-right: auto;
}

.block-3 ul li:last-child::before {
  content: "";
  border: 1px solid white;
  position: absolute;
  -webkit-transform: translate(-20px, -50px);
          transform: translate(-20px, -50px);
  width: 120px;
  -webkit-transform: rotate(90deg, 20deg);
          transform: rotate(90deg, 20deg);
}

.block-4 {
  width: 880px;
  height: 600px;
  background: url("/img/Rectangle5.jpg"), #000000;
}

.block-5 {
  width: 1040px;
  height: 600px;
  background-color: #000000;
}

.block-5 ul {
  width: 471px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.block-5 ul li:nth-child(1) {
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.block-5 ul li:nth-child(2) {
  font-family: PTSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 80px;
  margin-bottom: 75px;
}

.block-5 ul li:nth-child(2)::before {
  content: "";
  border: 1px solid white;
  position: absolute;
  -webkit-transform: translate(180px, -50px);
          transform: translate(180px, -50px);
  width: 120px;
  -webkit-transform: rotate(90deg, 20deg);
          transform: rotate(90deg, 20deg);
}

.block-5 ul li:nth-child(3) {
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 12px 28px;
  border: 1px solid white;
}

.block-5 ul li:nth-child(3) a {
  color: #FFFFFF;
  font-family: PTSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
}

.block-6 {
  width: 1920px;
  height: 1289px;
  background-color: #000000;
}

.block-6 p {
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.block-6 p::after {
  content: "";
  border: 1px solid white;
  position: absolute;
  -webkit-transform: translate(-270px, 90px);
          transform: translate(-270px, 90px);
  width: 120px;
  -webkit-transform: rotate(90deg, 20deg);
          transform: rotate(90deg, 20deg);
}

.block-6 .container {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
}

.block-6 .watches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
}

.block-6 .watches .watches-into {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-6 .watches .watches-into .watch {
  padding: 55px 25px;
  background-color: #191B1C;
  margin-bottom: 25px;
}

.block-6 .watches .watches-into li {
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.block-6 .watches .watches-into li:last-child {
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
  margin-top: 10px;
}

.block-7 {
  width: 1920px;
  height: 362px;
  background-color: #0F0F0F;
}

.block-7 p {
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  padding-top: 60px;
}

.block-7 p::after {
  content: "";
  border: 1px solid white;
  position: absolute;
  -webkit-transform: translate(-200px, 90px);
          transform: translate(-200px, 90px);
  width: 120px;
  -webkit-transform: rotate(90deg, 20deg);
          transform: rotate(90deg, 20deg);
}

.block-7 .container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
}

footer {
  width: 1920px;
  height: 400px;
  background: url("/img/Rectangle7.jpg") no-repeat;
}

footer .container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
  gap: 30px;
}

footer .container ul li {
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}

footer .container ul li:nth-child(2) {
  font-family: PTSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}

footer .main-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  row-gap: 40px;
}

footer .main-ul .main-ul-into {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  vertical-align: middle;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  width: 330px;
}

footer .main-ul .main-ul-into li {
  font-family: PTSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  padding: 10px 20px;
  background-color: #0F0F0F;
}

footer label {
  padding: 10px 20px;
  background-color: #0F0F0F;
  font-family: PTSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  height: 41px;
  width: 140px;
  letter-spacing: 0.05em;
}

footer input {
  width: 210px;
  font-size: 13px;
  padding: 10px 20px;
  color: #D0D0D0;
  background: rgba(255, 255, 255, 0.4);
  border: none;
}

.last-div {
  width: 1920px;
  height: 50px;
  background: #0F0F0F;
}

.last-div .container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 17px;
}

.last-div .container p {
  font-family: PTSans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
}
/*# sourceMappingURL=Preprocessor.css.map */